---
layout: default
---

<div class="home">

<!-- Catalogue of available posts -->
<div class="catalogue">

	{% for post in site.posts %}
			<!-- Post's metadata -->
			<div class="post-frontview">
				<time datetime="{{ post.date }}" class="catalogue-time">
					{{ post.date | date: "%b %d, %Y" }} -
				</time>
				<span class="post-meta">
					Tags:
				{% for tag in post.tags %}
					{% capture tag_name %}
						{{ tag }}
					{% endcapture %}
					<a class="post-tag" href="{{ site.baseurl }}/tag/{{ tag_name }}">
						<nobr>
							{{ tag_name | escape }}
						</nobr>
						&nbsp;
					</a>
				{% endfor %}
			</span>

			<!-- Post excerpt and title -->
				<h2>
					<a class="catalogue-title" href="{{ post.url | relative_url }}">
						{{ post.title | escape }}
					</a>
					<div class="catalogue-line"></div>
						{% if post.excerpt %}
							{{ post.excerpt }}
						{% endif %}
				</h2>
		</div>
	{% endfor %}
</div>
</div>
