<head>
	<!-- TODO: Include collection of tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<meta name="viewport" content="width=device-width">
	<title>
		{% if page.title %}
			{{ page.title | escape }}
		{% else %}
			{{ site.title | escape }}
		{% endif %}
	</title>

	<link rel="shortcut icon" href="{{ '/assets/images/idea.png' |relative_url }}">
	<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

	<!-- Equations support -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

</head>