.catalogue {

	&-time {
		color: $spanish-grey;
		font-family: $monospaced-font;
		font-size: 1.35rem;
		line-height: 1.15rem;
	}

	&-title {
		color: $dark-grey;
		font-family: $sans-font;
		font-size: 2.15rem;
		font-weight: 700;
		margin-top: .5rem;
		margin-bottom: 0.75rem;
		display: block;

		&:hover {
			@include transition(all 0.5s ease-out);
			color: $red-orange;
			cursor: pointer;
			text-decoration: none;
		}
	}

	&-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $dark-grey;
    display: block;
    width: 5rem;
  }
	p {
		font-family: $sans-font;
	}

	.post-frontview {
		margin: 3rem 1rem;
    color: $grey-bck;
    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 40rem;
      border-top: .2rem solid $red-orange;
    }
    &:last-child {
      border: 0;
    }
  }
}
