---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header">
		<h1 class="post-title" itemprop="name headline">
			{{ page.title | escape }}
		</h1>

		<p class="post-meta center">
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
				{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
				Published on {{ page.date | date: date_format }}
			</time>

			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
				by <span itemprop="name">
					{{ site.author }}
				</span>
			</span>
		</p>

		<p class="post-meta">
			Estimated reading time: {% include reading_time.html %}
		</p>

		<p class="post-meta">
			<span>
				Tags: 
				{% for tag in page.tags %}
					{% capture tag_name %}
						{{ tag }}
					{% endcapture %}
					<a class="post-tag" href="{{ site.baseurl | absolute_url }}tag/{{ tag_name }}">
						{{ tag_name }}
					</a>
				{% endfor %}
			</span>
		</p>

	</header>

	<div class="post-content" itemprop="articleBody">
		{{ content }}
	</div>

</article>